*{margin:0;padding:0;}
body{font-size:14px;}
#main_div{border:1px #ccc solid;margin:12px 12px;}
	.title{width:100%;height:32px;border-bottom:1px #ccc dashed;line-height:32px;color:#0066A1;font-size:12px;}
	.title font{color:#e5007c;margin-left:12px;font-weight:bold;font-size:14px;}
	.myDiv{float:left;width:70%;height:308px;margin-left:4%;}
	.old_pwd_div{width:100%;height:80px;margin-top:32px;border-bottom:4px #ccc solid;}
	.old_pwd_p{width:300px;height:16px;margin-left:100px;margin-top:60px;}
	.code{width:300px;height:16px;margin-left:100px;margin-top:12px;}
	.code input{width:60px;margin-right:12px;}
	
	.new_pwd_div{width:100%;height:100px;margin-top:32px;border-bottom:4px #ccc solid;}
	.new_pwd_p{width:300px;height:16px;margin-left:100px;margin-top:60px;}
	.new_pwd_again{width:300px;height:16px;margin-left:100px;margin-top:12px;}
	#submit{margin-left:100px;margin-top:12px;}
	.myPicture{float:left;width:20%;height:276px;margin-left:40px;margin-top:32px;background:yellow;}