@CHARSET "UTF-8";
.main{
	width:500px;
	height:500px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-250px;
	border-radius:10px;
	box-shadow:10px 10px 10px #68B4FF;
	border:#095A85 5px solid;
	background:#E7F8EE;
}
.content{
	width:330px;
	height:400px;
	margin:0px auto;
}
.title{
	float:left;
	width:80px;
	height:160px;
	margin-top:40px;
	padding:0;
	list-style:none;
}
.title li{
	float:right;
	width:100%;
	height:32px;
	line-height:32px;
	font-weight:bold;
	margin-bottom:20px;
}
.input{
	float:left;
	width:250px;
	height:220px;
	padding:0;
	list-style:none;
	margin-top:40px;
}
.input li{
	float:left;
	width:100%;
	height:24px;
	padding-top:8px;
	margin-bottom:20px;
}
.time1,.time2{
	width:60px;
}
#btn{
	width:180px;
	height:25px;
	border-radius:5px;
	position:relative;
	left:50%;
	margin-left:-90px;
	margin-top:30px;
	background:#095A85;
	color:#fff;
	font-weight:bolder;
}