*{margin:0;padding:0;}
body{font-size:13px;}
.b_all{width:984px;height:900px;margin:0px auto;}
.b_header{width:100%;height:30px;}
	.header_ul{width:100%;height:30px;border-bottom:1px #ccc solid;line-height:30px;}
	.header_ul a{color:black;text-decoration:none;}
	.header_ul a:hover{color:red;text-decoration:underline;}
	.header_ul_left{float:left;height:100%;padding:0;list-style:none;}
	.header_ul_left li{float:left;}
	.header_ul_right{float:right;height:100%;padding:0;list-style:none;}
	.header_ul_right li{float:left;}
	.header_ul_right li font{color:red;}

.b_search{width:100%;height:100px;margin-top:32px;}
	#logo{float:left;width:240px;height:100%;margin-left:20px;}
	.search_input{float:left;width:680px;height:100%;margin-left:20px;}
	
.b_middle{width:984px;height:auto;margin-top:20px;overflow:auto;}/*height:730px;*/
	.middle_title{width:984px;height:32px;border-bottom:4px #0048B4 solid;}
	.middle_title_ul{width:982px;height:100%;border-left:1px #ccc solid;border-top:1px #ccc solid;border-right:1px #ccc solid;margin:0px auto;padding:0;list-style:none;}
	.middle_title_ul li{float:left;width:100px;height:100%;font-size:18px;line-height:32px;text-align:center;cursor:pointer;}
	#index,#out_rent{width:80px;}
	#company,#broker{width:80px;}
	#seek_rent{background:#0048B4;font-weight:bold;color:white;}
	#border_1,#border_2,#border_3,#border_4,#border_5{width:1px;height:22px;margin-top:5px;background:#ccc;}
	
	.display_count{width:970px;height:32px;line-height:32px;margin-left:12px;}
	.display_count font{color:red;margin:0px 8px;}
	
	.terms_div{width:982px;height:80px;border:1px #CBDBF3 solid;margin-bottom:12px;}
	
	.terms_title_div{float:left;width:90px;height:100%;}
	.terms_title_div font{float:right;font-weight:bold;margin-left:20px;margin-top:16px;}
	/*.terms_title_font{float:right;}*/
	
	.terms_content_div{float:left;width:84%;height:100%;}
	.term_object_div{float:left;width:90%;margin-top:16px;}
	.term_object_ul{height:13px;padding:0;list-style:none;}
	.term_object_ul li{float:left;margin-right:14px;}
	.term_object_ul li a{color:#004499;text-decoration:none;}
	.term_object_ul li a:hover{color:red;text-decoration:underline;}
	#term_object_1{color:red;}
	/*中间左边部分*/
	.middle_left{float:left;width:650px;height:auto;overflow:auto;}/*height:660px;*/
	
	.house_menus_div{width:100%;height:auto;overflow:hidden;}/*height:220px;*/
	.house_menus_title{width:100%;height:32px;border-bottom:2px #0048b4 solid;}
	.house_menus_title a:hover{color:red;text-decoration:underline;}
	.house_menus_title h2{float:left;line-height:32px;}
	.house_menus_title span{float:right;}
	.house_menus_title span a{color:#004499;text-decoration:none;line-height:32px;}
	
	.house_menus_content{width:100%;}
	.menu_object_div{width:100%;height:44px;border-bottom:1px #ccc solid;}
	.object_rentType{float:left;width:40px;height:42px;margin-left:12px;line-height:42px;}
	.object_title{float:left;width:310px;height:42px;line-height:42px;overflow:hidden;}
	.object_title a{width:320px;height:42px;font-weight:bold;font-size:16px;text-decoration:none;color:#0000FF;overflow:hidden;}
	.object_title a:hover{color:red;text-decoration:underline;}
	.object_price{float:left;width:170px;height:42px;line-height:42px;color:red;}
	.object_price font{font-size:24px;}
	.object_name{float:left;width:80px;height:42px;line-height:42px;}
	/*中间右边部分*/
	.middle_right{float:right;width:315px;height:100%;}
	.house_submit_div{width:313px;;height:160px;border:1px #CBDBF3 solid;}
	.house_submit_img_div{float:left;width:40px;height:100%;}
	.house_submit_img_div img{width:20px;height:20px;margin:16px 20px;}
	.house_submit_content{float:left;width:86%;height:100%;}
	.house_submit_content h2{margin:16px 0px;}
	.house_submit_content p{color:#999;line-height:26px;}
	.house_submit_content p font{color:red;}
	.role_div{width:100%;height:32px;margin-top:12px;}
	.do_submit{float:left;width:100px;height:32px;line-height:32px;color:white;font-size:16px;font-weight:bold;background:orange;cursor:pointer;}
	.do_submit_broker{float:left;margin-left:16px;margin-top:8px;height:16px;}
	.do_submit_broker img{width:16px;height:16px;}
	.do_submit_broker a{margin-left:6px;color:#004499;text-decoration:none;font-size:14px;}
	.do_submit_broker a:hover{color:red;text-decoration:underline;}
	
	.middle_right_img{width:100%;height:200px;margin-top:16px;}
	
	.rent_picture{width:100%;height:216px;margin-top:16px;}
	.rent_picture_title{width:100%;height:32px;border-bottom:2px #0048B4 solid;}
	.rent_picture_title a:hover{color:red;text-decoration:underline;}
	.rent_picture_title h2{float:left;}
	.rent_picture_title h2 a{color:black;text-decoration:none;line-height:32px;}
	.rent_picture_title span{float:right;line-height:32px;}
	.rent_picture_title span a{color:#004499;text-decoration:none;line-height:32px;}
	.rent_picture_content{width:100%;height:166px;margin-top:16px;background:yellow;}
.b_footer{width:984px;height:210px;margin-top:20px;}