*{margin:0;padding:0;}
body{font-size:14px;}
.main_div{width:100%;height:116px;}
	.top_div{width:100%;height:84px;background:url(../img/top_bg.png) repeat left;}
	.bottom_div{width:100%;height:32px;background:#0048b4;}
	.logo{float:left;width:126px;height:60px;margin:12px 20px;}
	.main_menus_div{float:left;width:auto;height:100%;}
	#main_menus_ul{width:auto;height:32px;border-left:1px #999 solid;border-right:1px #999 solid;border-top:1px #999 solid;border-top-left-radius:10px;border-top-right-radius:10px;padding:0;list-style:none;margin-top:51px;}
	#main_menus_ul li{float:left;width:100px;height:100%;border-top-left-radius:10px;border-top-right-radius:10px;text-align:center;cursor:pointer;}
	#main_menus_ul li a{width:100%;height:100%;color:black;font-weight:bold;text-decoration:none;line-height:32px;font-size:16px;display:block;border-top-left-radius:10px;border-top-right-radius:10px;}
	#main_menu_1{color:white;}
	  
	.welcome{float:left;height:14px;margin-left:20px;margin-top:9px;color:#C0F2FF;}
	.welcome img{width:12px;height:14px;}
	.welcome font{color:#E6F94F;font-family:"幼圆";font-weight:bold;}
	.today{float:left;height:14px;margin-left:20px;margin-top:9px;color:#C0F2FF;}
	.function{float:right;height:14px;margin-top:9px;margin-right:14px;}
	.function a{margin-right:6px;color:#C0F2FF;text-decoration:none;}
	.function a:hover{text-decoration:underline;}>>>>>>> .r449
